
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1,
    maximum-scale=5"
      />
  
      <link rel="icon" href="./assets/images/devchallenges.png" />
    
      <link
        rel="shortcut icon"
        type="image/x-icon"
        href="https://devchallenges.io/"
      />
  
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
        rel="stylesheet"
      />
      <link rel="stylesheet" href="/public/about.css">
    
  
      <title>About us</title>
  
    </head>
    <body>
      <main>
        <div class="intro-text-container">
          <p class="intro-text">News Media </p>
        </div>
        <section class="container">
          <div class="Scarecrow"></div>
          <div class="error-message-container">
            <p class="error-heading">Stay informed in 60 words.</p>
            <p class="error-text">
                Stay informed in 60 words.
                We understand you don’t have time to go through long news articles everyday. So we cut the clutter and deliver them, in 60-word shorts. Short news for the mobile generation.
            </p>  
            <div class="button">
              <a href="/">Back to homepage</a>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
       <p class="footer-text"> Created By NewsMedia @Copyright Reserved</p>
      </footer>
    </body>
  
  