<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="navbar.css">
    <title>Navbar</title>
    <head>
        <link rel="stylesheet" href="/public/navbar.css">
    </head>
</head>
<body>

    
    <div class="scrollmenu">
        <a href="news/category/sports">Sports</a>
        <a href="news/category/national">National(India)</a>
        <a href="news/category/business">Business</a>
        <a href="news/category/world">World</a>
        <a href="news/category/politics">Politics</a>
        <a href="news/category/startup">Startup</a>
        <a href="news/category/technology">Technology</a>
        <a href="news/category/entertainment">Entertainment</a>
        <a href="news/category/hatke">Hatke (unusual)</a>
        <a href="news/category/science">Science</a>
        <a href="news/category/automobile">Automobile</a>
      </div>
    
    <script src="navbar.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/public/navbar.js"></script>
</body>
</html>