@import url("https://fonts.googleapis.com/css?family=Inconsolata" );
@import url("https://fonts.googleapis.com/css?family=Space Mono");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
    padding: none;
    margin: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: #f2daff;

}

:root {
    --Scarecrow: url("https://raw.githubusercontent.com/Petsamuel/error-page/main/assets/images/Scarecrow.png");
    --font1: "Inconsolata";
    --line-height: 36px;
    --letter-spacing: -0.035em;
    --text-color: #4F4F4F;
}
main{
    height:screen;
    padding:0px 5%;
    box-sizing: border-box;
    height:100%;
}

.intro-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom:5%;
}

.intro-text {
    font-family: var(--font1);
}

.container {
    display: flex;
    justify-content: space-between;
    gap:10%;
}

.Scarecrow {
    content: var(--Scarecrow);
    width: 50%;
}


.error-text {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    color: #4F4F4F;
}

.error-heading {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;
    color: #333333;
}

.button {
    width: 116px;
    height: 68px;
    background: #f2daff;
    font-family: 'Space Mono';
    display:flex;
    justify-content: center;

}
a {
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    align-self: center;
     
}
.footer-text
{
    justify-content: center;
    text-align: center; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 17px;
    font-size: large;
    color: #050202;
}
@media screen and (max-width: 1024px)
{
    .footer 
    {
        height: 50px;
        width: 100%;
        color: #BDBDBD;
        justify-content: center;
        text-align: center;
        position: fixed;
        bottom: 0;
    }
    .footer-text
    {
        font-size: large;
        justify-content: center;
        text-align: center;
    }
    .button {
        width: 250px;
        height: 170px;
        background: #f2daff;
        font-family: 'Space Mono';
        display: flex;
        justify-content: center;
    
    }
}


@media screen and (max-width: 768px)
{
    .footer 
    {
        height: 50px;
        width: 100%;
        color: #af9393;
        justify-content: center;
        text-align: center;
        position: fixed;
        bottom: 0;
    }
    .footer-text
    {
        font-size: large;
        justify-content: center;
        text-align: center;
    }
    .button {
        width: 250px;
        height: 170px;
        background: #cebfd6;
        font-family: 'Space Mono';
        display: flex;
        justify-content: center;
    
    }
}

